<footer>
  <div class="footer">
  <a><div class="footer-links"></a>
      <h5>Made with ❤️ by</h5>
      <a href="https://github.com/CookieMonica"><i class="fab fa-github"></i></a>
      <h5>Monica</h5>
      <a href="https://github.com/mdpolbrich"><i class="fab fa-github"></i></a>
      <h5>Maria</h5>
      <a href="https://github.com/Jasan707"><i class="fab fa-github"></i></a>
      <h5>Jasan</h5>
    </div>
  </div>
</footer>
