<footer>
  <div class="footer">
    <p>© 2022 Fairpay</p>
    <a><div class="footer-links"></a>
    <a href="#">Terms</a>
    <a href="#">Privacy</a>
    <a href="#">Security</a>
    <a href="#">Contact</a>
    </div>
    <a><div class="footer-links"></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</footer>
