.dashboard-hero {
// background-color: #ECECEC;
  display: flex;
  justify-content: space-around;
  padding: 12px;
  position: relative;
  align-items: center;
  height: 250px;
  position: relative;
  z-index: 1;
}

.dashboard-hero-img {
  // background-image: url('https://cdn.pixabay.com/photo/2022/03/04/08/33/pattern-7046839_960_720.jpg');
  // background-image: url('https://images.unsplash.com/photo-1546525506-495a7647977b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  // background-image: url('https://images.pexels.com/photos/707582/pexels-photo-707582.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-image: url('https://images.pexels.com/photos/3257927/pexels-photo-3257927.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .5;
  width: 100%;
  height: 100%;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.dashboard-hero-info{
  display: block;
  justify-content: center;
  text-align: center;
  position: absolute;
  align-items: center;
  color: white;
  filter: drop-shadow(2px 4px 0px $gray-fairpay);
}

.dashboard-hero-info h1{
  margin: 16px 0px;
  color: white;
}

.dashboard-hero-credit{
  display: block;
  justify-content: center;
  text-align: center;
  margin-left: 50%;
  color: white;
  filter: drop-shadow(2px 4px 0px $gray-fairpay);
}

.dashboard-hero-credit h3{
  margin-top: 8px;
}

.dashboard{
  background-color: white;
  // padding: 30px 0;
}

.dashboard-title{
  font-size: 22px;
  margin: 30px 0 0 0;
  text-align: center;
}

.dashboard-title-explanation{
  font-size:16px;
  text-align: center;
}


.dashboard-title-no-bookings {
  font-size: 22px;
  margin: 100px 0 20px 0;
  text-align: center;
  color: $red-fairpay;
}

.dashboard-card{
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 8px;
  margin-bottom: 20px;
  height: 135px;
}

.dashboard-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.dashboard-card-info{
  position: absolute;
  left: 140px;
  color: $gray-fairpay;
}

.dashboard-card-info a{
 text-decoration: none;
 color: $red-fairpay;
}

.dashboard-card-info p{
  font-size: medium;
  padding: 0;
  margin: 0;
}

.dashboard-card-status {
  color: $gray-fairpay;
  left: 430px;
  // padding-right: 16px;
  text-align: center;
  position: absolute;
}

.dashboard-card-status i {
  padding-right: 10px;
}

.status-accepted {
  color: #6fbdb4;
}

.status-declined {
  color: $red-fairpay;
}

.status-completed {
  color: $gray-fairpay;
}


.nav-pills .nav-link.active {
  background-color: #6fbdb4;
}

.dashboard-box {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 16px;
  height: 350px;

}
