.footer {
  background: $green-fairpay;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);

  h5{
    margin-top: 40px;
    font-size: 19px;
    margin-bottom: 40px;
  }
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $gray-fairpay;
  opacity: 0.4;
  text-decoration: none;
  font-size: 22px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.copy {
  margin-top: 20px;
}
