.navbar-fairpay {
  justify-content: space-between;
  background: white;
}

.navbar-fairpay .navbar-collapse {
  flex-grow: 0;
}

.navbar-fairpay .navbar-brand img {
  width: 60px;
}

.nav-link {
  margin-right: 10px;
}
