.profile-hero {
  background-color: #ECECEC;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  position: relative;
  }

  .profile-edit{
    display: inline;
    position: absolute;
    right: 30px;
    top: 20px;
    list-style: none;
  }

  .profile-edit i{
    color: $gray-fairpay;
    padding: 6px 0;
    font-size: large;
  }

  .profile-edit i:hover{
    color: $red-fairpay;
  }

  .profile-hero-info{
    display: block;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .profile-hero-info img{
    border: 1px solid white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .profile-hero-info h4{
    margin-bottom: 20px;
    font-weight: light;
    font-size: 22px;
    color: $gray-fairpay;
  }

  .profile-media {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .profile-media li {
    font-size: 22px;
    list-style: none;
    width: 40px;
    border-radius: 50%;
    background-color: white;
  }

  .profile-media a {
    opacity: 0.5;
    color: $gray-fairpay;
  }

  .profile-media a:hover {
    color: $red-fairpay;
  }

  .profile-description {
    text-align: start;
  }

  .profile-service a{
    text-decoration: none;
    color: $red-fairpay;
    }

  .profile-service a:hover{
    color: $gray-fairpay;
  }
