.review-card {
  border-radius: 8px;
  box-shadow: 2px 2px 8px 1px rgba(0, 0 , 0, 0.2);
  padding: 24px 24px 12px;
  margin: 14px;
  position: relative;

  & p {
    font-size: 16px;
  }

  & .item {
    position: absolute;
    top: 15px;
    right: 15px;
    color: $gray-fairpay;
    font-size: medium;
    padding: 0 4px;
  }
}

.card-review-text {
 margin: 16px 16px 16px 0;
}
