.searchbar {

  border-radius: 50px;
  border: 2px solid $gray-fairpay;
  opacity: 0.6;
  padding: 8px;
  margin: 24px 0px;
}

.checkbox {
  position: absolute;
  transform: scale(0);

}

.checkbox + label {
  cursor: pointer;
  display: inline-block;
  color: $gray-fairpay;
  border: 2px solid $gray-fairpay;
  background-color: $light-gray-fairpay;
  padding: 6px 18px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 14px;
  margin: 24px 0px;
}

.checkbox:checked + label {
  color: white;
  background-color: $gray-fairpay;
}
