.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 40px;
  & a:link {
    text-decoration: none;
  }
}

.service-head{
  //position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #B9E1DC;
  text-align: center;
}

.service-head-icons{
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 25px;
  top: 20px;
  list-style: none;
}

.service-head-icons i{
  color: $gray-fairpay;
  font-size: medium;
  padding: 0 4px;
}
.service-head-icons i:hover{
  color: $red-fairpay;
}

.service-card {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 8px 1px rgba(0, 0 , 0, 0.2);
  height:420px;
}

.service-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  text-align: center;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //background-color: $green-fairpay;

}

.service-info {
  padding: 24px 16px  16px  16px;
  color: $gray-fairpay;
  & h3 {
    margin: 0px 0px 16px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 26px;
  }
}

.service-info p {
  margin: 0px;
  font-size: 18px;
}

.weekdays-container .fa-lg {
  line-height: 1.4em;
}

.show-buttons {
  text-align: left;
  margin: 24px auto 16px;
}
