.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.service-card {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 8px 1px rgba(0, 0 , 0, 0.2);
  height: fit-content;
}

.service-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


// This is the text in the service-card
.service-infos {
  position: relative;
// This is the button to open the service details. It´s hidden until you hover
// user a favicon in the html <i class="fas fa-pen fa-xs ml-2"></i>
  i {
    position: absolute;
    top: -13px;
    right: 5px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    background: black;
    color: white;
    display: none;
    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
    i {
      display: block;
    }
  }
}
